body{
    background-color: rgb(11, 221, 151);
    color:azure;
    font-family: "Bitcount Grid Double", system-ui;
    margin: 0px;
}
header{
    font-size: 50px;
    border-bottom: dashed 5px pink;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
    color: rgb(204, 21, 128);
}
h1{
    font-size: 30px;
}
p{
    font-size:20px;
}

.chamada{
background-color: rgb(6, 49, 204);
padding-bottom: 80px;
display: flex;
justify-content: center;

}
 .chamada-texto{
    margin-right: 10%;
 }
}

img{
    width: 200px;
    height: 300px;
}
.Algumas cenas emocionantes da nova temporada{
    display: flex;
    overflow-x:auto;
    gap: 10px;
    padding-left: 20px; 

}

h2{
    padding-left: 30px;
}

body{
padding-bottom: 40px;
}